body {
    background-image: url("../img/shrimp-po-boy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Permanent Marker', cursive;
    color: black;
}

.jumbotron {
 margin-top: 20px;
 width: 90%;
 font-family: 'Permanent Marker', cursive;
 background-color: #FA020F !important;
 opacity: .9;
 border-radius: 5px;
}

h1 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    font-family: 300px;
}
h2,
h3 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
}
#newBox {
    font-family: 'Permanent Marker', cursive;
    background-color: #FA020F;
    opacity: .9;
    padding: 20px;
    padding-top: 30px;
    height: fit-content;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
}

#addBox {
    font-family: 'Permanent Marker', cursive;
    background-color: #FA020F;
    opacity: .9;
    padding: 20px;
    padding-top: 30px;
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    width: fit-content;
    text-align: center;
    
}

#eaten {
    font-family: 'Permanent Marker', cursive;
    background-color: #FA020F;
    opacity: .9;
    padding: 20px;
    padding-top: 30px;
    height: fit-content;
    width: fit-content;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
    border-radius: 5px;
}


/* for phone */
    @media (max-width: 599px) { 
        .jumbotron {
            width: 100%;
            margin: 10px;
        }
        #eaten {
            width: 100%;
            margin: 10px;
        }
        #addBox {
            width: 100%;
            margin: 10px;
        }
        #newBox {
            width: 100%;
            margin: 10px;
        }
 }
  
 /* for tablet-portrait-up*/ 
    @media (min-width: 600px) {  
  }
/* for tablet-landscape-up  */
    @media (min-width: 900px) { 
  }
/* for desktop-up */
    @media (min-width: 1200px) { 
  }
/* for big-desktop-up*/ 
    @media (min-width: 1800px) { 
  }